@using Lexicon_Inlamning_01.Web.Controllers

@model IndexVM

@{
    ViewBag.Title = "Running Shoes";
}

<div style="margin: 50px;">
    <h2>Running Shoes</h2>
    <ul>
        @foreach (var shoe in Model.RunningShoeVMs)
    {
        <li>
            <a asp-controller="RunningShoes" asp-action="Details" asp-route-id="@shoe.Id">@shoe.Name</a>
        </li>
    }
    </ul>
    <a asp-controller="RunningShoes" asp-action="Create">Create New Shoe</a>

</div>
